/* even looking at the css?! */
body{
    color: black;
    font-family:  'Lucida Console', monospace;
}

#container{
    text-align: justify;
    font-size: clamp(16px, 3vw, 22px);
    width: min(80%,600px);
    margin:auto;
}

img{
    width: 20%;
}

a{
    color: black;
    font-weight: bold;
}